<h4 class="my-4">Minhas Rendas</h4> <br/>
<div class="col-md-6">
  <table class="table table-responsive table-hover table-bordered table-sm">
    <thead>
      <tr>
        <th>Valor</th>
        <th>Referência</th>
      </tr>
    </thead>
    <tbody>
      <% @incomes.each do |income| %>
      <tr>
        <td>R$ <%= income.monthly_income %></td>
        <td><%= month_integer_to_string(income.month) %>/<%= income.year %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Cadastrar nova Renda', new_income_path %>
</div>