<div class="container-fluid">
  <% if notice %>
  <div class="container-fluid position-relative">
    <div class="alert alert-success position-absolute top-0 end-0">
      <p><%= notice %></p>
    </div>
  </div>
  <% elsif alert %>
  <div class="container-fluid position-relative">
    <div class="alert alert-danger position-absolute top-0 end-0">
      <p><%= alert %></p>
    </div>
  </div>
  <% end %>

  <div class="mx-4 my-4">
    <br/>
  </div>
</div>