<h3 class="my-2 text-center">Minhas metas </h3>

<%= pie_chart(
  {
    "Custos Fixos": @goal.fixed_cost,
    "Conforto": @goal.comfort,
    "Metas": @goal.goals,
    "Prazeres": @goal.pleasures,
    "Liberdade Financeira": @goal.financial_freedom,
    "Conhecimento": @goal.knowledge
  },
  suffix: "%",
  stacked: true,
  donut: true
) %>

<div class="text-center my-4">
  <%= link_to 'Editar Metas', edit_goal_path(@goal) %>
</div>
