<footer>
  <div class="text-center text-white p-4" style="background-color: rgb(33, 37, 41);">
    © 2024 Copyright:
    <a class="text-white fw-bold" href="https://www.linkedin.com/in/davi-martins-torres/" target="_blank" >Davi Torres</a>
  </div>
</footer>